<!-- notification.hbs -->

<div class="notification notification--{{ modifier }}">
    <p class="notification-message">{{ message }}</p>
    <a class="notification-close" href="#">{{ closeButtonText }}</a>>
</div>